@use '../variables' as *;

.qkb-bot-ui {
  position: fixed;
  z-index: $bot-zindex;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  font-size: $font-size-root;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  pointer-events: auto;

  @media (max-width: 480px) {
    bottom: 0;
    right: 0;
  }

  * {
    box-sizing: border-box;
  }
}

.qkb-preload-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
